@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
}
header, section {
  background-color: #fff;
  margin: 0 auto 2rem;
  padding: 1rem 2rem 2rem;
  width: 80%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 1.5rem;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
a {
  color: #b13131;
  text-decoration: none;
}
p {
  margin-bottom: 1.5rem;
  h2 + & {
    color: #757575;
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: -.5rem;
    text-transform: uppercase;
  }
}

pre {
  background-color: rgba(0,0,0,.75);
  border-left: .5rem solid rgba(0,0,0,.5);
  color: #FBAF5C;
  margin: 0;
  padding: 1rem;
}

ul {
  margin: 0 0 1.5rem 0;
  padding: 0;
  list-style: none;
}

.container {
	min-width: 1000px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.nav {
    margin: 10px;
    padding: 0;

    & ul {
  		border-bottom: 1px solid #ccc;
    }

    & li {
    }
    & a {
    	font-size: 2rem;
    }
  }
}


.creator {
	padding-right: 20px;
	margin-top: 20px;
	text-align: right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: 20px;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}*/*/