{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1>Catalog App</h1>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<a href = '{{url_for('newCategory') }}'>Create New Category Item</a>


{% for i in categories %}
	<a href = "{{url_for('showCategoryByName', categories_name = i.name)}}">
		<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-10 restaurant-list">
					<h3>{{i.name}}</h3>
				</div>
			<div class="col-md-1"></div>
		</div>
	</a>

	<div class = "editdeletepane">

	<a href='{{url_for('editCategoryByName', categories_name = i.name )}}'>Edit</a>
	<a href='{{url_for('deleteCategoryByName', categories_name = i.name )}}'>Delete</a>
	</div>
{% endfor %}

<h2> Recently Added Items </h2>

{% for p in recent %}

	<a href = "{{url_for('showCategoryItemByName', categories_name = p.categories.name, categoriesItems_name = p.name)}}">
			<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-10 restaurant-list">
					<h3>{{p.name}}</h3>
				</div>
			<div class="col-md-1"></div>
		</div>
    </a>

{% endfor %}

{% endblock %}
