{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1> Delete Category </h1>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<h5>Category: {{ itemToDelete.name }}</h5>

<p> This category contains the following items:</p>

{% for i in items %}
<ul>
	<li>Name: {{i.name}}</li>
	<li>Description: <i>{{i.description}}</i></li>
	<p>
</ul>

{% endfor %}

<div class = 'pane'>
<form action="{{ url_for('deleteCategoryByName', categories_name = itemToDelete.name)}}" method = 'post'>

<p>Are you sure you want to delete <b>{{ itemToDelete.name }}</b>? </p>

<input type='submit' value='Delete'>

<a href = '{{url_for('showCategoryByName', categories_name = itemToDelete.name )}}'> Cancel </a>

</form>

{% endblock %}