{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1> Delete Category Item </h1>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<h5> Item: {{ itemToDelete.name }}</h5>

<div class = 'pane'>
<form action="{{ url_for('deleteCategoryItemByName', categories_name = categories_name, categoriesItems_name = itemToDelete.name)}}" method = 'post'>

<p>Are you sure you want to delete {{ itemToDelete.name }}? </p>

<input type='submit' value='Delete'>

<a href = '{{url_for('showCategoryItemByName', categories_name = categories_name, categoriesItems_name=itemToDelete.name )}}'> Cancel </a>

</form>

{% endblock %}