{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1>Catalog</h1>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="items">

<ol>
{% for i in categories %}
	<li><a href = "{{url_for('showCategoryByName', categories_name = i.name)}}">{{i.name}}</a></li>
	<p>
{% endfor %}
</ol>

<h6><a href = '{{url_for('newCategory') }}'>Create New Catalog Item</a></h6>

<h6> Recently Added Items </h6>

<ol>
{% for p in recent %}

<li><a href = "{{url_for('showCategoryItemByName', categories_name = p.categories.name, categoriesItems_name = p.name)}}">{{p.name}}</a></li>

{% endfor %}
</ol>



{% endblock %}