{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{ item.name }}</h1>
		<figure class="creator">
			<img src={{creator.picture}}>
			<figcaption>{{creator.name}}</figcaption>
		</figure>
	</div>


<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


    <div class = 'nameAndPrice'>
		<span class = 'name'><p>{{item.name}}</p></span>
		<span class = 'description'><p>{{item.description}} </p></span>
		<span class = 'creator'><p>{{creator.name}} </p></span>
	</div>

	</div>



{% endblock %}