{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1>{{ categories.name }}</h1>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<ol>

	{% for i in items %}
<li><p><a href = "{{url_for('showCategoryItemByName', categories_name = i.categories.name, categoriesItems_name = i.name)}}">{{i.name}}</a></p>

<p><i><a href='{{url_for('editCategoryItemByName', categories_name = categories.name, categoriesItems_name=i.name )}}'>Edit</a>
<a href='{{url_for('deleteCategoryItemByName', categories_name = categories.name, categoriesItems_name=i.name )}}'>Delete</a></i></p>
</li>
	{% endfor %}

</ol>

<h6><a href = '{{url_for('newCategoryItemByName', categories_name = categories.name) }}'>Add New Category Item</a>

<br>

<h6>Category Created by:</h6>
	<figure class="creator">
		<img src={{creator.picture}}>
		<figcaption>{{creator.name}}</figcaption>
	</figure>


{% endblock %}